version: "3"
services:
  lab:
    image: jupyter_projname:v01 
    container_name: projname_container 
    build:
        context: .
        dockerfile: ./.devcontainer/Dockerfile

    ports:
      - "8880:8888" # http://localhost:8880/lab to launch Jupyter Lab

    volumes:
      - .:/home/jovyan/work

    command: start.sh jupyter lab